.about-section {
  max-width: 700px;
  margin: 0 auto;
}
.about-section h1 {
  letter-spacing: 20px;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about p {
  padding: 10px;
}

.about-pic {
  width: 100%;
  padding: 10px 0;
}

.avatar {
  width: 50%;
}

.avatar_bio_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  border-radius: 10px;
  overflow: hidden;
}
.avatar_bio_container p {
  width: 50%;
  padding: 10px;
}
.avatar_bio_container .bio-title {
  color: var(--secondary-color);
}

#pure-petty-intro {
  width: 100%; 
  height: 315px;
  margin: 10px 0;
}

@media (max-width: 700px){
  .avatar_bio_container {
    display: flex;
    flex-direction: column;
  }
  .avatar_bio_container p {
    width: 100%;
  }
  .avatar {
    width: 100%;
  }
}