* {
  --main-color: rgb(255,255,255);
  --secondary-color: rgb(55,131,255);
  --text-color: rgb(0,0,0);
  --header-text-color: rgb(0,0,0);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  background: var(--main-color);
  text-align: center;
  box-sizing: border-box;
}

.login input,
.register input {
  padding: 5px; 
  margin: 10px 0px; 
  width: 60%;
  max-width: 400px;
  background: var(--main-color);
  color: var(--header-text-color);
  font-size: 13px;
}

.login form,
.register form {
  display: flex; 
  justify-content: center; 
  flex-direction: column; 
  align-items: center;
}