* {
  --main-color: rgb(36,41,46);
  --secondary-color: rgb(55,131,255);
  --text-color: rgb(225,225,225);
  --header-text-color: rgb(255,255,255);
  --h1-color: #555;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--main-color);
  color: var(--text-color);
}
h1 {
  text-align: center;
  font-size: 40px;
  color: var(--h1-color);
  padding: 10px;
}
h2 {
  color: var(--h1-color);
}

.no_margin { margin: 0px; }

.login input,
.register input {
  padding: 5px; 
  margin: 10px 0px; 
  width: 60%;
  max-width: 400px;
  background: var(--main-color);
  color: var(--text-color);
  font-size: 13px;
}

.login form,
.register form {
  display: flex; 
  justify-content: center; 
  flex-direction: column; 
  align-items: center;
}