.navbar { margin-bottom: 55px; }

.navigation {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 55px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgba(0,0,0,0.6);
}
.navigation header a {
  text-decoration: none;
  color: var(--header-text-color);
  margin-left: 10px;
}
.navigation ul {
  display: flex;
  list-style: none;
  margin-right: 15px;
}

.navigation li {
  margin: 0 15px;
  color: var(--header-text-color);
}
.navigation li:hover {
  cursor: pointer;
  color: var(--main-color);
}

.navigation a {
  text-decoration: none;
  color: var(--header-text-color);
}
.navigation a:hover,
.navigation a:active,
.navigation a.active {
  color: var(--secondary-color);
}